@model ASI.Basecode.Services.ServiceModels.ArticleViewModel
@using static ASI.Basecode.Resources.Views.Screen
@using static ASI.Basecode.Resources.Views.Button
@using static ASI.Basecode.Resources.Messages.Errors
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .attachment-img {
        max-width: 300px;
        max-height: 300px;
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>

<h2></h2>
<form method="post" asp-action="EditArticle" asp-controller="Admin" class="needs-validation" enctype="multipart/form-data" novalidate>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" required />
        <div class="invalid-feedback">
            @PlsEnterTitleForArticle
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control" rows="10" required></textarea>
        <div class="invalid-feedback">
            @PlsEnterContentForArticle
        </div>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control" required>
            <option value="">Select a category</option>
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Id">@category.CategoryName</option>
            }
        </select>
        <div class="invalid-feedback">
            @PleaseSelectCategoryForArticle
        </div>
    </div>
    <div class="form-group">
        @if(Model.AttachmentPath != null && Model.AttachmentPath != ""){
        <img src="~/@Url.Content(Model.AttachmentPath)" alt="Article Image" class="attachment-img" />
        }
        <label asp-for="@Model.Attachment">Attachment</label>
        <input asp-for="@Model.Attachment" type="file" accept="image/x-png,image/gif,image/jpeg" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Articles" class="btn btn-secondary">@CancelBtn</a>
    </div>
</form>

<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>