@model ASI.Basecode.Services.ServiceModels.ArticleViewModel
@using static ASI.Basecode.Resources.Views.Screen
@using static ASI.Basecode.Resources.Views.Button
@using static ASI.Basecode.Resources.Messages.Errors
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .card {
        border: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        background-color: #f8f9fa;
        padding: 1rem;
    }

    .card-title {
        font-size: 24px;
        margin-bottom: 0.5rem;
    }

    .card-text {
        font-size: 16px;
        margin-bottom: 1rem;
    }

    .attachment-img {
        max-width: 300px;
        max-height: 300px;
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

</style>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">@Model.Title</h1>
            <p class="card-text">@Category: @Model.Category.CategoryName</p>
            <p class="card-text">@Status: @Model.Status</p>
            <p class="card-text">@Author: @Model.Author</p>
        </div>
        <div class="card-body">
            <p class="card-text">@Model.Content</p>
        </div>
        @if (Model.AttachmentPath != null)
        {
            <div class="card-body">
                <img src="~/@Url.Content(Model.AttachmentPath)" alt="Article Image" class="attachment-img" />
            </div>
        }
    </div>
</div>
<a class="btn btn-primary" onclick="goBack()">@GoBackBtn</a>

<script>
    function goBack() {
        window.history.back();
    }
</script>