@model IEnumerable<ASI.Basecode.Data.Models.Notification>
@using static ASI.Basecode.Resources.Views.Screen
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<h2>Your Notifications</h2>

@if (Model == null || !Model.Any())
{
    <p>@NoNotifications</p>
}
else
{
    <ul class="list-group">
        @foreach (var notification in Model)
        {
            <li class="list-group-item @(notification.Status == "UNREAD" ? "font-weight-bold" : "")">
                <a href="@Url.Action("ViewNotification", "Home", new { ticketId = notification.TicketId, notificationId = notification.Id })">
                    <strong>@notification.Title</strong><br />
                    @notification.Content<br />
                    <small>Received on: @notification.DateCreated?.ToString("g")</small><br />
                    <span>Status: @notification.Status</span>
                </a>
            </li>
        }

    </ul>
}
